@import "variables.scss";

@font-face {
    font-family: 'Faction-Outline';
    src: url('../fonts/Faction-Outline.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canal';
    src: url('../fonts/Canal-Light.woff2') format('woff2');  
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Canal';
    src: url('../fonts/Canal-Regular.woff2') format('woff2');  
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Canal';
    src: url('../fonts/Canal-Bold.woff2') format('woff2');  
    font-weight: 900;
    font-style: normal;
}

body {
    background: $black;
    color: $white;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 20px;
    max-width: 900px;
}

h1 {
    font-family: $font-main;
    font-style: normal;
    font-size: 70px;
    margin-bottom: -20px;
}

h2 {
    font-family: $font-support;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -10px;
}

h2:hover{
    font-style: italic;
}
h3 {
    font-family: $font-support;
    font-style: italic;
    font-size: 14px;
    font-weight: 100;
}

p {
    font-family: $font-support;
    font-style: normal;
    color: $grey;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 20px;
    max-width: 800px;

}
p:hover {
    color: $white;
}

img {
    max-width: 300px;
    margin-right: 50px;
    opacity: 0.5;
}

img:hover {
    opacity: 1;
}


label {
    font-family: $font-support;
    font-size: 12px;
    font-weight: 300;
}

#header{
    margin-bottom: 20px;
}

#searcharea{
    margin-bottom: 80px;
}

#search{
    font-family: $font-support;
    font-size: 18px;
    font-style: italic;
}

#update ul{
    list-style: none;
}

.headline{
    margin-bottom: -70px; 
}

.btn{
    position: fixed;
    top: 30px;
    right:30px
}
.button {
	background: $white;
	border: 0px;
	padding: 5px;
    text-align: center;
    margin-top: 50px;
}

.button:hover {
	background: $grey;
}

a {
    color:$grey;
    text-decoration: none;
    font-family: $font-support;
    font-style: italic;
    font-size: 10px;
}

a:hover {
    color:$white;
}




